@import "../../assets/variables.scss";

.step {
  position: absolute;
  left: 0;
  right: 0;
  top: calc(5rem + 45px * 1.5);

  &__label {
    color: $marineBlue;
  }

  &__title {
    font-family: "Ubuntu-Bold";
    color: $marineBlue;
    font-size: 1.8rem;
  }

  &__desc {
    color: $CoolGray;
    font-size: 1.2rem;
  }
}
