@import "../../assets/variables.scss";

.step {
  margin-top: -4.55rem;
  margin-bottom: 6rem;

  &__label {
    color: $marineBlue;
  }

  &__title {
    font-family: "Ubuntu-Bold";
    color: $marineBlue;
    font-size: 1.8rem;
  }

  &__desc {
    color: $CoolGray;
    font-size: 1.2rem;
  }
}
